.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #1e223b;
}

.svgContainer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.temp {
  font-size: 5rem;
  font-weight: bold;
}

.status {
  font-size: 2rem;
}
